@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');

h1 {
  font-family: 'Amaranth', sans-serif;
  color: #333;
  text-decoration: none;
}

option:hover {
  background: rgb(139, 139, 139) !important;
}

.listSidebar {
  background: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.todo_list {
  position: relative;
}

.btn-group {
  position: absolute;
  left: -100px;
}
.btn-group>.btn {
  padding: 0 5px;
}
.btn-group label {
  transition: all 1s;
}

.err_empty_name {
  position: absolute;
  color: red;
  bottom: -20px;
  left: 10px;
  opacity: 0;
  transition: all 1s ease-out;
}